Repository Dan1m4D/tdw-mp2-daniel-madureira: changes, and which lefthook commands are due for each by the changed paths.
All: type-check, prettier, eslint

lefthook.yml:

---
# Lefthook configuration
# Pre-commit hooks that run before each commit

pre-commit:
  commands:
    # Type checking
    type-check:
      glob: '**/*.{ts,tsx}'
      run: pnpm type-check
      stage_fixed: true
      skip:
        - merge
        - rebase

    # Code formatting with Prettier
    prettier:
      glob: '**/*.{ts,tsx,json,md,css,html}'
      run: pnpm prettier:fix
      stage_fixed: true
      skip:
        - merge
        - rebase

    # Linting with ESLint
    eslint:
      glob: '**/*.{ts,tsx}'
      run: pnpm lint:fix
      stage_fixed: true
      skip:
        - merge
        - rebase

commit-msg:
  commands:
    # Validate commit message format
    commit-lint:
      run: echo "Commit message hook placeholder"
      skip:
        - merge
        - rebase

feat: update lefthook to version 2.0.4 and remove deprecated entries
  pnpm-lock.yaml
Due: none

hotfix: correct vercel deployment argument to use vercel-args
  .github/workflows/deploy-vercel.yml
Due: none

feat: enhance adventure routing with location selection and route details
  lefthook.yml
  src/components/LocationDetails.tsx
  src/components/MapView.tsx
  src/components/NPCInformation.tsx
  src/features/adventure/adventureSlice.ts
  src/routes/adventure.tsx
Due: type-check, prettier, eslint

Improved route mapping functionalities and location selection
  package.json
  pnpm-lock.yaml
  src/app/hooks.ts
  src/app/store.ts
  src/components/LocationSelector.tsx
  src/components/index.ts
  src/constants/index.tsx
  src/features/game/gameSlice.ts
  src/hooks/useCocktails.ts
  src/routes/drinks.tsx
  src/services/cocktailAPI.ts
  src/services/routingAPI.ts
Due: type-check, prettier, eslint

Add weather API integration and mood modifier calculations
  src/services/weatherAPI.ts
Due: type-check, prettier, eslint

Implement weather-based NPC mood system with API integration and state management
  WEATHER_NPC_SYSTEM.md
  src/app/store.ts
  src/components/NPCInformation.tsx
  src/features/npc/npcSlice.ts
  src/routes/adventure.tsx
Due: type-check, prettier, eslint

Add card API service with deck creation and card drawing functionalities
  src/services/cardsAPI.ts
Due: type-check, prettier, eslint

Implement card drawing functionality with deck initialization and ingredient management
  src/components/CardDraw.tsx
  src/components/index.ts
  src/features/adventure/adventureSlice.ts
  src/routes/adventure.tsx
Due: type-check, prettier, eslint

Add Deck of Cards API integration with card drawing and ingredient mapping
  CARDS_API_SYSTEM.md
Due: none

Update .gitignore and add implementation summary for Deck of Cards API integration
  .gitignore
  CARDS_API_QUICK_START.md
  IMPLEMENTATION_SUMMARY.md
Due: none

Add Vercel configuration files and implement AdventureSummary component with crafting reset functionality
  .vercel/README.txt
  .vercel/project.json
  src/app/store.ts
  src/components/AdventureSummary.tsx
  src/services/cardsAPI.ts
Due: type-check, prettier, eslint

Implement inventory and NPC serving functionalities with crafting integration
  src/components/InventoryDisplay.tsx
  src/components/NPCServingPanel.tsx
  src/components/index.ts
  src/features/adventure/adventureSlice.ts
  src/features/crafting/craftingSlice.ts
  src/features/npc/npcSlice.ts
  src/routes/adventure.tsx
  src/routes/drinks.tsx
Due: type-check, prettier, eslint

Add gameplay and documentation updates for NPC serving and card drawing mechanics
  CARDS_API_SYSTEM.md
  GAMEPLAY_GUIDE.md
  GAME_IMPLEMENTATION_COMPLETE.md
  NPC_SMART_REQUIREMENTS.md
Due: none

Refactor LocationSelector for debounced search and remove mock drinks data
  src/components/LocationSelector.tsx
  src/data/mockDrinks.ts
  src/features/npc/npcSlice.ts
Due: type-check, prettier, eslint

Refactor actions and api base urls in consts folder
  src/actions/useAdventureQueries.ts
  src/actions/useCocktails.ts
  src/components/CardDraw.tsx
  src/constants/index.tsx
  src/features/adventure/adventureSlice.ts
  src/hooks/useAdventureQueries.ts
  src/routes/adventure.tsx
  src/routes/drinks.tsx
  src/services/cardsAPI.ts
  src/services/cocktailAPI.ts
  src/services/routingAPI.ts
  src/services/weatherAPI.ts
Due: type-check, prettier, eslint

Refactor drinks page to support filtering by ingredients and categories, enhance cocktail API for ingredient and category handling, and improve UI components for better user experience
  index.html
  src/actions/useCocktails.ts
  src/components/AdventureSummary.tsx
  src/components/CardDraw.tsx
  src/components/LocationSelector.tsx
  src/components/MapView.tsx
  src/components/NPCServingPanel.tsx
  src/components/NPCSuccessModal.tsx
  src/components/index.ts
  src/components/layout/Navbar.tsx
  src/features/game/gameSlice.ts
  src/routes/adventure.tsx
  src/routes/drinks.tsx
  src/routes/index.tsx
  src/services/cocktailAPI.ts
Due: type-check, prettier, eslint

feat: Add adventure components including location details, selection modal, and map view
  CARDS_API_SYSTEM.md
  GAMEPLAY_GUIDE.md
  src/actions/useAdventureQueries.ts
  src/components/adventure/AdventureRouteDetails.tsx
  src/components/adventure/AdventureSetup.tsx
  src/components/adventure/AdventureSummary.tsx
  src/components/adventure/CardDraw.tsx
  src/components/adventure/InventoryDisplay.tsx
  src/components/adventure/LocationDetails.tsx
  src/components/adventure/LocationSelectionModal.tsx
  src/components/adventure/LocationSelector.tsx
  src/components/adventure/MapView.tsx
  src/components/adventure/NPCInformation.tsx
  src/components/adventure/NPCServingPanel.tsx
  src/components/adventure/NPCSuccessModal.tsx
  src/components/drinks/DrinkCard.tsx
  src/components/drinks/DrinkDetailContainer.tsx
  src/components/drinks/DrinkDetailDrawer.tsx
  src/components/home/FeatureCard.tsx
  src/components/home/GameFlowSection.tsx
  src/components/home/HeroSection.tsx
  src/components/index.ts
  src/constants/index.tsx
  src/hooks/useAdventureQueries.ts
  src/hooks/useCocktails.ts
  src/routes/adventure.tsx
  src/routes/drinks.tsx
  src/routes/index.tsx
  src/services/cocktailAPI.ts
  src/services/weatherAPI.ts
Due: type-check, prettier, eslint

feat: Implement geocoding functionality and optimize location selection in adventure module
  src/actions/useAdventureQueries.ts
  src/components/adventure/LocationSelector.tsx
  src/routes/adventure.tsx
  src/services/cardsAPI.ts
Due: type-check, prettier, eslint

feat: Remove outdated gameplay and implementation documentation
  CARDS_API_SYSTEM.md
  GAMEPLAY_GUIDE.md
  GAME_IMPLEMENTATION_COMPLETE.md
  NPC_SMART_REQUIREMENTS.md
  README.md
  WEATHER_NPC_SYSTEM.md
Due: none

feat: Add project overview documentation detailing technologies, external APIs, and development challenges
  PROJECT_OVERVIEW.md
Due: none

fix: Update Vercel deployment workflow to streamline environment variable handling and build process
  .github/workflows/deploy-vercel.yml
Due: none

fix: Refactor Vercel deployment workflow for clarity and consistency in step naming
  .github/workflows/deploy-vercel.yml
Due: none

fix: Remove unnecessary line breaks in project.json for consistency
  .vercel/project.json
Due: prettier

fix: Remove .vercel directory and update project overview for clarity
  .github/CI_CD_SETUP.md
  .vercel/README.txt
  .vercel/project.json
  CARDS_API_QUICK_START.md
  IMPLEMENTATION_SUMMARY.md
  PROJECT_OVERVIEW.md
Due: prettier

try to fix vercel deploy action
  .github/workflows/deploy-vercel.yml
  src/app/store.ts
  src/routes/drinks.tsx
Due: type-check, prettier, eslint
